<div class="panel panel-info">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-eye-open"></span>
    watchlists
    <!-- Invoed showModal() handler on click -->
    <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showModal()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
  <div class="panel-body">
    <!-- show help text if no watchlist exist -->
    <div ng-if="!watchlists.length" class="text-center">
      Use <span class="glyphicon glyphicon-plus"></span> to create a list
    </div>
    <div class="list-group">
      <!-- repeat over each list in watchlists and create link -->
      <a class="list-group-items" ng-repeat="list in watchlists track by $index">
        {{list.name}}
        <!-- delete list  -->
        <button type="button" class="close" ng-click="deleteList(list)">&times;</button>
      </a>
    </div>
  </div>
</div>
